
    body{
    overflow: hidden;
    }
    
    #container{
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: center;  /* Horizontal centering */
    overflow: hidden;
   
}

#menu-container{
    display: flex;
    justify-content: center; /* Center #nav horizontally */
    align-items: center;     /* Center #nav vertically if needed */
}