/* Container styles */


  #nav {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: center;  /* Horizontal centering */


    }
  
    nav {
      font-family: "Calibri", sans-serif;
      font-weight: bold;
      font-size: .8rem;
      text-align: center;
      box-sizing: border-box;
      background-color: #540d0d; /* Light gray background for nav */
      width: 100%;
      padding: 10px 0; 
      border-radius: 10px;
    }
  
  /* Main Menu Styling */
  #menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0px; /* Spacing between menu items */
    justify-content: center;
  }
  
  #menu > li {
    position: relative;
    min-width: 8em;
    background-color: #540d0d; /* Default background color */
  }

  /* Change background color on hover for both main and submenu */
  #menu > li:hover, /* Main menu item hover */
    .hidden-menu li:hover { /* Submenu item hover */
      background-color: #722222; /* Change to the hover color you want */
  }

  #menu > li a{
    background-color: #540d0d;;
    color: white;
  }
  
  #menu a {
    display: inline-block;
    color: #3B3B3B;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #menu a:hover {
    background-color: #5798B4;
    color: yellow;
    cursor: pointer;
  }
  
  /* Submenu Styling */
  .hidden-menu {
    display: none; /* Hide submenu by default */
    list-style: none;
    position: absolute;
    top: 100%; /* Position below the parent */
    left: 0;
    background-color: #540d0d;;
    border-radius: 5px;
    padding: 10px 0;
    z-index: 5;
    min-width: 100%;
  }
  
  #menu li:hover .hidden-menu {
    display: block; /* Show on hover */
  }
  
  /* Submenu item styling */
  .hidden-menu li {
    width: 100%; /* Define width for submenu */
    text-align: left;
    padding: 5px 10px; /* Optional padding for readability */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .hidden-menu a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .hidden-menu a:hover {
    background-color: #5798B4;
    color: yellow;
  }
  
  /* Disabled link styles */
  .disabled {
    pointer-events: none;
    opacity: 0.8;
    background-color: #808080 !important;
  }
  