


.mainDisplay{
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  justify-content: center;  /* Horizontal centering */
  width: clamp(760px,100vw, 98%);
  height: 100vh;
  font-size: clamp(1.5rem, 4vw, 4rem);
  overflow: hidden;
}
/* Tablet and desktop */
@media (min-width: 768px) {
  .mainDisplay{
    width: clamp(400px, 100vw, 95%);

  }
}

/* Card styling */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; /* Full height of .mDisp */
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* Prevents outer scroll */
}

.card10{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 1.5px;
    grid-column-gap: 3px;
    grid-auto-rows: 3vh;
    box-shadow: 6px 10px 10px 3px rgba(0,0,0,0.6);
    transition: 0.3s;
    border-radius: 10px;
    padding: 3px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding 10px;
  }
    
.card--crumpled {
  background-image: url("https://images.pexels.com/photos/8823335/pexels-photo-8823335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; 

}
.card10--header{
  grid-column: 1 / span 10;
  font-family: "Calibri";
  font-size: clamp(1rem, 2vw, 2rem);
  color: #0e4fc7;/*ford grabber blue*/
  text-align: left;
  margin: 2px 10px 5px 10px;/*top right  bottom left*/
 }
.card11{
    display: grid;
    grid-template-columns: 2fr repeat(9, 1fr);
    grid-row-gap: 1.5px;
    grid-column-gap: 3px;
    grid-auto-rows: 3vh;
    box-shadow: 6px 10px 10px 3px rgba(0,0,0,0.6);
    transition: 0.3s;
    border-radius: 10px;
    padding: 3px;
    font-size: clamp(.8rem, 1vw, 1rem);
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
}
.card11--header{
  display: flex;
  grid-column: 1 / span 11;
  grid-row: 1 / span 1;
  font-family: "Calibri";
  font-size: clamp(.8rem, 2vw, 3rem);
  margin: 3px;  
  justify-content: left;
  align-items: center;

}
.item{
  font-family: "Calibri";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(.9rem, 1.15vw, 2rem);
  /*line-height: 2.5vw;*/
  border-radius: 5px;
}
.itemH{
  box-sizing: border-box;
  background-color: rgba(36, 97, 117, 0.5);
  color: yellow !important;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1) ;
  font-family: "Calibri";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(.45rem, .8vw, 1rem);
  position:sticky;
  top: 0px;
  z-index: 2;
  opacity: 1;
}

.bonw {
  background: white;
  color: black;
  font-size: clamp(.65rem, 1.5vw, 2rem);
}
.bbOn{
  border-bottom: 4px ridge lightgrey;
}
.bbOff{
  border-bottom: 0px;
.rowC1{background: powderblue ; color:black;}
.rowC0{background: #e5ebff;}
}
.dat01{grid-column: 1 / span 2;}

.span-2R {grid-row: span 2;}
.span-2C {grid-column: span 2;} 
.span-6C {grid-column: span 6;}
.span-10C {grid-column: span 10;}

.rowC1{background: powderblue ; color:black;}
.rowC0{background: #e5ebff;}

.dat4 {grid-column: span 2;} 

.blnk{grid-column: 1 / span 9; background-color: white; height: 10px;}

.tBA{background-color:#fff3f3;color:black;font-weight: 400;}
.tLo{background-color: #fff3f3;color:black;font-weight: 400;text-shadow: 3px 3px 6px rgba(235, 52, 79, 1);}
.tAA{background-color:#F2FDEC;color:black;font-weight: 400;}
.tHi{background-color:#F2FDEC;color:#2b6be4;color:black;font-weight: 400;text-shadow: 3px 3px 6px rgba(79, 235, 52, 1);}
.tStart{border-left: thin solid lightgray;}
.tNorm{background-color:#fff;color:black;font-weight: 400;}

.crdFtr {
  font-family: "Calibri";
  text-align: center;
  font-size: clamp(.55rem, .6vw, 1rem);
  border-radius: 5px;
  line-height: 1rem; /* Adjust as needed for readability */
  padding: 2px 5px; /* Space within each item */
}

