


/* Card styling */
.card {
  flex-direction: column;
  height: 90%; /* Full height of .mDisp */
  overflow: hidden; /* Prevents outer scroll */
  row-gap: 1px;
  column-gap: 2px;
  box-shadow: 6px 10px 10px 3px rgba(0,0,0,0.6);
  transition: 0.3s;
  border-radius: 10px;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 5px;
}
    
.card--crumpled {
  background-image: url("https://images.pexels.com/photos/8823335/pexels-photo-8823335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; 
}
.card--header{
  font-family: "Calibri";
  font-size: clamp(1rem, 2vw, 2rem);
  color: #0e4fc7;/*ford grabber blue*/
  row-gap: 0;
  text-align: left;
  /*padding: 2px 10px 5% 10px;  top right  bottom left*/
  margin: 0;  
  padding: 0;
  justify-content: left;
  align-items: center;
}
.card7{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: clamp(760px 1vw 1200px);
}
.card7--HSpan{
  display: grid;
  grid-column: 1 / span 7;
  font-size: clamp(.9rem, 2vw, 2rem);
 }
.card10{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.card10--HSpan{
  display: grid;
  grid-column: 1 / span 10;
  font-size: clamp(.9rem, 2vw, 2rem);
 }
.card10On{
    display: grid;
    grid-template-columns: 3fr repeat(9, 1fr);
}
.card15{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 4fr repeat(10,1fr);
}
.card15--HSpan{
  display: grid;
  grid-column: 1 / span 15;
}
.card16{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 6fr repeat(8,1fr);
}
.card16--HSpan{
  display: grid;
  grid-column: 1 / span 16;
}
.cardTitles {
  font-family: "Calibri" !important;
  box-sizing: border-box;
  background-color: #708090;
  color: yellow;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.span-2R {grid-row: span 2;}
.span-2C {grid-column: span 2;} 
.span-6C {grid-column: span 6;}
.span-10C {grid-column: span 10;}
.span-13C {grid-column: span 13;}
.item{
  font-family: "Calibri";
  display: flex;
  line-height: 1.25rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(.9rem, 1vw, 1.25rem);
  /*line-height: 2.5vw;*/
  border-radius: 5px;
}
.itemH{
  box-sizing: border-box;
  line-height: 1.25rem;
  background-color: rgba(36, 97, 117, 0.5);
  color: yellow !important;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1) ;
  font-family: "Calibri";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(.45rem, .8vw, 1rem);
  position:sticky;
  top: 0px;
  z-index: 2;
  opacity: 1;
}
.opac0{
  opacity: 0;
}
.opacA{
  background-color: AntiqueWhite;
  border-top-style: double;
  opacity: .6;
}
.bonw {
  background: white;
  color: black;
  font-size: clamp(.65rem, 1.5vw, 2rem);
}
.bbOn{
  border-bottom: 2px solid rgb(34, 34, 34);
}
.bbOff{
  border-bottom: 0px;
}
.rowC1{background: powderblue ; color:black;}
.rowC0{background: #e5ebff;}

.dat01{grid-column: 1 / span 2;}



.rowC1{background: powderblue ; color:black;}
.rowC0{background: #e5ebff;}

.dat4 {grid-column: span 2;} 

.blnk{grid-column: 1 / span 9; background-color: white; height: 10px;}

.tBA{background-color:#fff3f3;color:black;font-weight: 400;}
.tLo{background-color: #fff3f3;color:black;font-weight: 400;text-shadow: 3px 3px 6px rgba(235, 52, 79, 1);}
.tAA{background-color:#F2FDEC;color:black;font-weight: 400;}
.tHi{background-color:#F2FDEC;color:#2b6be4;color:black;font-weight: 400;text-shadow: 3px 3px 6px rgba(79, 235, 52, 1);}
.tStart{border-left: thin solid lightgray;}
.tNorm{background-color:#fff;color:black;font-weight: 400;}

.crdFtr {
  font-family: "Calibri";
  text-align: center;
  font-size: clamp(.55rem, .6vw, 1rem);
  border-radius: 5px;
  line-height: 1rem; /* Adjust as needed for readability */
  padding: 2px 5px; /* Space within each item */
}

